
- name: "Create the test directories"
  file:
    path: "{{ item }}"
    state: directory
  with_items: "{{ directories['test'] }}"

- name: Set fact for target-prefixes
  set_fact:
    __target_prefix: "{{ collection_name }}"

- name: Enable netconf target-prefixes
  set_fact:
    __target_prefix: "{{ __target_prefix }}\nnetconf"
  when: collection_name in ["iosxr", "junos"]

- name: Create target-prefixes.network for ansible-test
  copy:
    content: "{{ __target_prefix }}"
    dest: "{{ collection_parent }}/test/integration/target-prefixes.network"

- name: Build a list of the directories in the test directory
  find:
    paths: "{{ ansible_source_directory }}/test/integration/targets"
    patterns:
    - "{{ collection_name }}_*"
    - "prepare_{{ collection_name }}_tests"
    file_type: directory
  connection: local
  register: test_source_directories

- name: Copy each test integration directory into the collection
  include: migrate_test_directory.yaml
  loop: "{{ test_source_directories['files'] }}"
  loop_control:
    loop_var: directory
